<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queer Media Recommendations</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <h1>Share the queer media you love!</h1>

  <form action="/addRecommendation" method="POST">
    <input type="text" placeholder="Name" name="mediaName">
    <select name="mediaType" id="mediaType">
      <option value="">Select media type</option>
      <option value="Book">Book</option>
      <option value="Miniseries">Miniseries</option>
      <option value="Movie">Movie</option>
      <option value="TV Show">TV Show</option>
    </select>
    <input type="submit">
  </form>

  <h2>Recommendations</h2>
  <ul class="mediaRecommendations">
    <% for(let i = 0; i < recommendations.length; i++) {%>
      <li class="recommendation">
        <span><%= recommendations[i].mediaType %></span>
        <span><%= recommendations[i].mediaName %></span>
        <span class="fa fa-thumbs-up"></span>
        <span><%= recommendations[i].mediaLikes %></span>
        <span class="fa fa-trash"></span>
      </li>
    <% } %>  
  </ul>

  <script src='js/main.js'></script>  

</body>
</html>